core/os/x86_64/util-linux-libs-2.41.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/filesystem-2025.05.03-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libxml2-docs-2.14.5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-docs-6.16.4.insane1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-qcom-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/attr-2.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-nvidia-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-other-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/bash-5.3.3-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/ca-certificates-mozilla-3.115.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/glibc-2.42+r17+gd7274d718e6f-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libsecret-docs-0.21.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-cirrus-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-mediatek-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/procps-ng-4.0.5-3-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/shadow-4.18.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/findutils-4.10.0-3-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-whence-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-tests-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-qlogic-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/tar-1.35-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/acl-2.3.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/gettext-0.26-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/sed-4.9-3-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/xz-5.8.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/intel-ucode-20250812-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-nfp-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/automake-1.18.1-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/bzip2-1.0.8-6-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libffi-3.5.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libxml2-2.14.5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-intel-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/wireless-regdb-2025.07.10-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-resolvconf-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-sysvcompat-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/gzip-1.14-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/hwdata-0.399-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/iputils-20250605-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-broadcom-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/pciutils-3.14.0-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/iproute2-6.16.0-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libseccomp-2.5.6-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/pacman-7.0.0.r7.g1f38429-0-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/psmisc-23.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-libs-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/amd-ucode-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/coreutils-9.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libsecret-0.21.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-realtek-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-headers-6.16.4.insane1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/mkinitcpio-39.2-3-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/nss-3.115.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/util-linux-2.41.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/grep-3.12-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-amdgpu-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-liquidio-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/systemd-ukify-257.8-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/wpa_supplicant-2:2.11-3-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-6.16.4.insane1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-atheros-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/gawk-5.3.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-marvell-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-mellanox-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-firmware-radeon-20250808-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/base-3-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/autoconf-2.72-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/base-devel-1-2-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/make-4.4.1-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/sudo-1.9.17.p2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/which-2.23-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/fakeroot-1.37.1.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/kmod-34.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/mkinitcpio-busybox-1.36.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/tzdata-2025b-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/gmp-6.3.0-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/icu-76.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libtool-2.5.4+r62+g6389dce8-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/m4-1.4.20-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/pcre2-10.46-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/python-3.13.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libxcrypt-4.4.38-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libxcrypt-compat-4.4.38-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/binutils-2.45+r29+g2b2e51a31ec7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/cryptsetup-2.8.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/iana-etc-20250612-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libarchive-3.8.1-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libcap-2.76-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/libgcrypt-1.11.2-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/elfutils-0.193-5-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/linux-api-headers-6.16-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/pcre-8.45-4-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/python-tests-3.13.7-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
core/os/x86_64/zstd-1.5.7-2-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
